body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#020617,#0f172a,#00eaff);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.box{
width:430px;
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(12px);
box-shadow:0 0 25px #00eaff;
text-align:center;
animation:fade 1s;
}

input{
width:95%;
padding:12px;
margin:8px 0;
border:none;
border-radius:10px;
font-size:15px;
}

button{
width:100%;
padding:12px;
background:#00eaff;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#00c8df;
}

.progress{
margin-bottom:15px;
font-weight:bold;
color:#00eaff;
}

a{
display:block;
margin-top:15px;
text-decoration:none;
color:white;
font-weight:bold;
}

.about-link{
color:#00eaff;
}

@keyframes fade{
from{opacity:0;transform:translateY(20px);}
to{opacity:1;transform:translateY(0);}
}