<!DOCTYPE html>
<html>
<head>
<title>Step 2</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">

<h1>Academic Factors</h1>
<div class="progress">Step 2 / 4</div>

<form action="/step3" method="post">

<input name="Hours_Studied" placeholder="Hours Studied Per Day (Out of 24)" required>

<input name="Attendance" placeholder="Attendance % (Out of 100)" required>

<input name="Previous_Scores" placeholder="Previous Marks Obtained (Out of 100)" required>

<input name="Tutoring_Sessions" placeholder="How Often You Bunk Classes In A Week (Out of 7)" required>

<button type="submit">Next</button>

</form>

<a class="about-link" href="/about">About Project</a>

</div>

</body>
</html>