<!DOCTYPE html>
<html>
<head>
<title>Step 4</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">

<h1>Final Factors</h1>
<div class="progress">Step 4 / 4</div>

<form action="/predict" method="post">

<input name="Motivation_Level" placeholder="Motivation Level (Out of 10)" required>

<input name="Teacher_Quality" placeholder="Teacher Quality Rating (Out of 10)" required>

<input name="Family_Income" placeholder="How Much Pocket Money You Have Per Month" required>

<input name="School_Type" placeholder="School Type (1 Private / 0 Govt)" required>

<button type="submit">Predict</button>

</form>

<a class="about-link" href="/about">About Project</a>

</div>

</body>
</html>